<h1>新增候選人</h1>
<a href="/">回候選人列表</a>
<%# <a href="/candidates">回候選人列表</a> %>

<%= form_for(@candidate, html: {id: 'candidate_form'}) do |f| %>
  <div>
    <%# <label for="name">姓名</label> %>
    <%# <input type="text" name="name" id="name"> %>
    <%= f.label :name, '姓名'%>
    <%= f.text_field :name, id: "name"%>
  <div>
    <%# <label for="age">年齡</label> %>
    <%# <input type="text" name="age" id="age"> %>
    <%= f.label :age, '年齡'%>
    <%= f.text_field :age, id: "age"%>
  </div>
  <div>
    <%# <label for="party">黨派</label> %>
    <%# <input type="text" name="party" id="party"> %>
    <%= f.label :party, '黨派'%>
    <%= f.text_field :party, id: "party"%>
  </div>
  <div>
    <%# <label for="politics">政見</label> %>
    <%# <textarea name="politics" id="politics" cols="30" rows="10" id="politice"></textarea> %>
    <%= f.label :politics, '政見'%>
    <%= f.text_area :politics%>
  </div>
  <input type="submit" value="新增候選人">
  </div>

<% end %>

<%# <form action="/candidates" method="post" id="candidate_form">
  
</form> %>